/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 99%;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(69, 62, 62); 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #342f2f; 
}

body{
    margin: 0;
    background-color: #010100;
    color: #EBEBE3;
    height: 100vh;
    user-select: none;
}

.cw{
    color: rgb(255, 255, 255);
}

.home-div{
    display: flex;
}

.side-bar{
    background-color: #EBEBE3;
    width: 300px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.top-ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.top-ul li a{
    background-color: #010100;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

i{  
    margin-right: 10px;
}

.content{
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.user-content{
    width: 500px;
    border-radius: 1%;
    height: fit-content;
    background-color: #2f2f2f;
    box-shadow: rgba(255, 255, 255, 0.372) 0px 1px 3px 0px, rgba(255, 255, 255, 0.412) 0px 0px 0px 1px;
}

.user{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.user-img{
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.reaction{
    position: relative;
    margin-left: 10px;
}

.content-img{
    margin-bottom: 10px;
}

#like-id{
    display: none;
}

.like-id:checked ~ .like-re{
    transition: 500ms;
    color: red;
}

.like-id:not(:checked) ~ .like-re{
    transition: 500ms;
    color: rgb(255, 255, 255);
}

.like-re{
    font-size: 20px;
}

.re:hover{
    cursor: pointer;
}

.comment-re{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
   -ms-transform:rotateY(180deg);
   font-size: 20px;
}

.share-re{
    font-size: 20px;
}

#save-re{
    display: none;
}

.save-re2{
   position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
}

.save-re1{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.save-re:checked ~ .save-re2{
    opacity: 1;
    transition: 1000ms;
}

.save-re:not(:checked) ~ .save-re2{
    opacity: 0;
    transition: 500ms;
}

.ellipsis{
    position: absolute;
    right: 20px;
    top: -8px;
    font-size: 20px;
}


.description-text{
    font-size: 14px;
    margin-left: 14px;
}

.des-time{
    margin-left: 14px;
}


.des-input{
    width: calc(100% - 4px);
    border: none;
    border-top: 0.5px solid white;
    outline: none;
    background-color: #2f2f2f;
    height: 30px;
}